.cart{
    justify-content: center;
    align-items: center;
    margin: 2em;
}
#spanButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#totalPrice{
    color: var(--whitishCream);
    border: none;
    border-radius: 2px;
    margin: 0.4em;
    padding: 0.5em;
    background-color: var(--lightPurple);
}
#Buyed {
    display:flex ;
    flex-direction: row;
    justify-content: center;
    background-color: var(--mainOrange);
    margin:5%
}

#emptyCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--lightOrange);
    margin: 5%;
    padding: 5%;
}