.itemDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}
.detailText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    height: 30em;
    padding: 5em;
    width: 30em;
    background-color: var(--lightOrange);
}
.itemDetailImg{
    height: 30em;
    width: 30em;
    object-fit: cover;

}
.addToCart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.price{
    text-align: center;
    padding: 1em;
}

@media (orientation:portrait){
    .itemDetail{
        flex-direction: column;
        align-items: center;
        }

    .itemDetailImg {
        width: 100%;
        object-fit:contain;
    }
.detailText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    height: 30em;
    width: 100%;
    background-color: var(--lightOrange);
}
}