.disabled{
    background-color: black;
}
.disabled:hover{
    cursor:auto;
}
form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}
form input{
    margin: 1% 25%;
}