.item-card{
    text-align: center;
    background-color: var(--WhitishCream) ;
    padding: 1em;
    margin: 1em;

}
.itemImg{
    height: 15em;
    width: 15em;
    object-fit: cover;
    background-color: var(--lighterPurple);
}
.imgContainer{
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} 
.item-card h1 {
    color: var(--mainPurple);
    padding-bottom: 1em;
}
.item-card:hover{
    opacity: 0.9;
}