nav{
    background-image: url(/public/photos/04-1.jpg);
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center ;

    
    
}
li{
    list-style: none;
}
#itemContainer{
    background-color: var(--transparentWhitishCream);
    margin: 0.5em 0em;
}
