.cartItem-card{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lightOrange) ;
    padding: 2em;
    margin-bottom: 2em;

}
.cartItemImg{
    height: 5em;
    width: 5em;
    object-fit: cover;
    padding-bottom: 1em;
}
.cartImgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} 
.cartItem-card h1 {
    color: var(--whitishCream);
    padding-bottom: 1em;
    font-size: large;
}
.cartItem-card:hover{
    opacity: 0.9;
}
.cartItem-card p, span{
    background-color: var(--whitishCream);
    padding: 0em 1em;

}