#counter{
    display: flex;
    flex-direction: row;
    border: 3px;
    border-style: solid;
    border-color: var(--mainOrange);
}
.buttonSpan{
    background-color: aliceblue;
    color: black;
    padding: 0.2em 0.4em;
    cursor: pointer;
    user-select: none;
}
.centered{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
input{ 
    border: none;
    appearance: none;
    text-align: center;
    
}

button{
    background-color: var(--mainOrange);
    color: var(--whitishCream);
    border: none;
    border-radius:2px ;         
    margin: 0.4em;
    padding: 0.5em;
    cursor: pointer;
}