@media (orientation:landscape){
    .itemlist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (orientation:portrait) {

    .itemlist {
        display: flex;
        flex-direction: column;}

    
}


